    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        padding: 30px;
    }
    
    .todo-form {
        display: flex;
        padding: 20px;
        background-color: gainsboro;
    }
    
    .todo-title {
        flex: 1;
        margin-right: 10px;
        padding: 5px;
    }
    
    .todo-description {
        flex: 3;
        margin-right: 10px;
        padding: 5px;
    }
    
    .todo-button {
        flex: 0.5;
    }
    
    .todo-article {
        padding: 20px;
        background-color: beige;
        border-bottom: 1px solid crimson;
    }
    
    .todo-delete {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: red;
    }
    
    h3 {
        text-align: center;
        padding: 20px;
        background-color: gainsboro;
    }
    
    .done {
        font-style: italic;
        color: #cccccc;
        text-decoration: line-through;
    }
    
    button {
        size: 15px;
    }